{% extends 'recruitment/base.html' %}
{% block title %}Đã gửi liên kết{% endblock %}

{% block content %}
<div class="text-center p-5 bg-light rounded">
    <h1 class="h2">Đã gửi liên kết đặt lại mật khẩu!</h1>
    <p class="lead">Chúng tôi đã gửi một email đến địa chỉ của bạn (nếu nó tồn tại trong hệ thống).</p>
    <p>Vui lòng kiểm tra hộp thư của bạn (bao gồm cả thư mục Spam) và làm theo hướng dẫn.</p>
    <a href="{% url 'job_list' %}" class="btn btn-primary">Quay về trang chủ</a>
</div>
{% endblock %}