{% extends 'recruitment/base.html' %}
{% block title %}Kho lưu trữ tin tuyển dụng{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="h2">Kho lưu trữ tin tuyển dụng</h1>
    <a href="{% url 'recruiter_dashboard' %}" class="btn btn-secondary">Quay lại Dashboard</a>
</div>
<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Vị trí tuyển dụng</th>
                        <th scope="col">Ngày đăng gốc</th>
                        <th scope="col">Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    {% for job in jobs %}
                    <tr>
                        <td class="fw-bold text-muted">{{ job.title }}</td>
                        <td class="text-muted">{{ job.created_at|date:"d/m/Y" }}</td>
                        
                        <td class="align-middle">
                             <a href="{% url 'job_detail' job.id %}" class.="btn btn-sm btn-outline-info" target="_blank">
                                <i class="bi bi-eye-fill"></i> Xem trước
                            </a>

                            <a href="{% url 'clone_job' job.id %}" class="btn btn-sm btn-success">
                                <i class="bi bi-back"></i> Tái sử dụng
                            </a>
                            
                            <a href="{% url 'hard_delete_job' job.id %}" class="btn btn-sm btn-outline-danger">
                                <i class="bi bi-trash-fill"></i> Xóa vĩnh viễn
                            </a>
                        </td>
                        </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3" class="text-center">Kho lưu trữ của bạn trống.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}